.signup-container{
    padding: 30px;
    background: linear-gradient(45deg, purple, pink);
}

.signup-form{
    background: white;
    width: 340px;
    padding: 20px;
    margin: 40px auto;
    border-radius: 20px;
}

.switch-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-btn button{
    font-size: 18px;
    padding: 10px 30px;
    border: none;
    font-weight: 800;
    cursor: pointer;
}

.switch-btn button:hover{
    transform: scale(1.1);
}

.active{
    color: white;
    background-color: red;
    text-decoration: underline 2px solid black;
}

.influ-sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.influ-sign-up > h4{
    font-size: 1.7rem;
}

.influ-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.influ-form input, select{
    padding: 5px 20px;
    border-radius: 5px;
    border: 0.5px solid black;
}

.influ-form textarea{
    border-radius: 5px;
}

.influ-form button{
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;    
    background-color: red;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.influ-form button:hover{
    transform: scale(1.1);
}